%define unmangled_name proton-vpn-cli
%define version {version}
%define upstream_version {upstream_version}
%define release 1

Prefix: %{{_prefix}}
Name: %{{unmangled_name}}
Version: %{{version}}
Release: %{{release}}%{{?dist}}
Summary: %{{unmangled_name}} client

Group: ProtonVPN
License: GPLv3
Vendor: Proton Technologies AG <opensource@proton.me>
URL: https://github.com/ProtonVPN/%{{unmangled_name}}
Source0: %{{unmangled_name}}-%{{version}}.tar.gz
BuildArch: noarch
BuildRoot: %{{_tmppath}}/%{{unmangled_name}}-%{{version}}-%{{release}}-buildroot

BuildRequires: python3-devel
BuildRequires: python3-setuptools
BuildRequires: python3-proton-vpn-api-core >= 0.42.1
BuildRequires: python3-proton-vpn-network-manager >= 0.9.0
BuildRequires: python3-proton-keyring-linux >= 0.1.0

Requires: python3-proton-vpn-api-core >= 0.42.1
Requires: python3-proton-vpn-network-manager >= 0.9.0
Requires: python3-proton-keyring-linux >= 0.1.0

%{{?python_disable_dependency_generator}}

%description
Package %{{unmangled_name}}.

%prep
%setup -n %{{unmangled_name}}-%{{version}}

%build
%{{python3}} setup.py build

%install
%{{python3}} setup.py install --single-version-externally-managed -O1 --root=$RPM_BUILD_ROOT --record=INSTALLED_FILES

%files -f INSTALLED_FILES
%{{python3_sitelib}}/proton/
%{{python3_sitelib}}/proton_vpn_cli-%{{version}}*.egg-info/
%defattr(-,root,root)

%changelog
